cycler==0.10.0
decorator==4.4.0
dlib==19.17.0
editdistance==0.3.1
h5py==2.9.0
imageio==2.5.0
Keras==2.0.2
keras-vis==0.2
kiwisolver==1.0.1
matplotlib==2.0.0
networkx==2.3
nltk==3.4.5
numpy==1.16.2
olefile==0.46
opencv-contrib-python==4.1.0.25
Pillow==9.3.0
protobuf==3.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1
scikit-image==0.15.0
scipy==1.2.1
six==1.12.0
sk-video==1.1.10
tensorflow==1.15.2
Theano==1.0.4
